body{color: #212529 !important;}
/* body.modal-open{overflow: unset !important;} */

/** Margins 1-10(+1), 15-50(+5), 60-100(+10) **/
.m0{margin: 0 !important;}
.m1{margin: 1px !important;} .ml1{margin-left: 1px !important;} .mr1{margin-right: 1px !important;} .mt1{margin-top: 1px !important;} .mb1{margin-bottom: 1px !important;} .m2{margin: 2px !important;} .ml2{margin-left: 2px !important;} .mr2{margin-right: 2px !important;} .mt2{margin-top: 2px !important;} .mb2{margin-bottom: 2px !important;} .m3{margin: 3px !important;} .ml3{margin-left: 3px !important;} .mr3{margin-right: 3px !important;} .mt3{margin-top: 3px !important;} .mb3{margin-bottom: 3px !important;} .m4{margin: 4px !important;} .ml4{margin-left: 4px !important;} .mr4{margin-right: 4px !important;} .mt4{margin-top: 4px !important;} .mb4{margin-bottom: 4px !important;} .m5{margin: 5px !important;} .ml5{margin-left: 5px !important;} .mr5{margin-right: 5px !important;} .mt5{margin-top: 5px !important;} .mb5{margin-bottom: 5px !important;} .m6{margin: 6px !important;} .ml6{margin-left: 6px !important;} .mr6{margin-right: 6px !important;} .mt6{margin-top: 6px !important;} .mb6{margin-bottom: 6px !important;} .m7{margin: 7px !important;} .ml7{margin-left: 7px !important;} .mr7{margin-right: 7px !important;} .mt7{margin-top: 7px !important;} .mb7{margin-bottom: 7px !important;} .m8{margin: 8px !important;} .ml8{margin-left: 8px !important;} .mr8{margin-right: 8px !important;} .mt8{margin-top: 8px !important;} .mb8{margin-bottom: 8px !important;} .m9{margin: 9px !important;} .ml9{margin-left: 9px !important;} .mr9{margin-right: 9px !important;} .mt9{margin-top: 9px !important;} .mb9{margin-bottom: 9px !important;} .m10{margin: 10px !important;} .ml10{margin-left: 10px !important;} .mr10{margin-right: 10px !important;} .mt10{margin-top: 10px !important;} .mb10{margin-bottom: 10px !important;} .m15{margin: 15px !important;} .ml15{margin-left: 15px !important;} .mr15{margin-right: 15px !important;} .mt15{margin-top: 15px !important;} .mb15{margin-bottom: 15px !important;} .m20{margin: 20px !important;} .ml20{margin-left: 20px !important;} .mr20{margin-right: 20px !important;} .mt20{margin-top: 20px !important;} .mb20{margin-bottom: 20px !important;} .m25{margin: 25px !important;} .ml25{margin-left: 25px !important;} .mr25{margin-right: 25px !important;} .mt25{margin-top: 25px !important;} .mb25{margin-bottom: 25px !important;} .m30{margin: 30px !important;} .ml30{margin-left: 30px !important;} .mr30{margin-right: 30px !important;} .mt30{margin-top: 30px !important;} .mb30{margin-bottom: 30px !important;} .m35{margin: 35px !important;} .ml35{margin-left: 35px !important;} .mr35{margin-right: 35px !important;} .mt35{margin-top: 35px !important;} .mb35{margin-bottom: 35px !important;} .m40{margin: 40px !important;} .ml40{margin-left: 40px !important;} .mr40{margin-right: 40px !important;} .mt40{margin-top: 40px !important;} .mb40{margin-bottom: 40px !important;} .m45{margin: 45px !important;} .ml45{margin-left: 45px !important;} .mr45{margin-right: 45px !important;} .mt45{margin-top: 45px !important;} .mb45{margin-bottom: 45px !important;} .m50{margin: 50px !important;} .ml50{margin-left: 50px !important;} .mr50{margin-right: 50px !important;} .mt50{margin-top: 50px !important;} .mb50{margin-bottom: 50px !important;} .m60{margin: 60px !important;} .ml60{margin-left: 60px !important;} .mr60{margin-right: 60px !important;} .mt60{margin-top: 60px !important;} .mb60{margin-bottom: 60px !important;} .m70{margin: 70px !important;} .ml70{margin-left: 70px !important;} .mr70{margin-right: 70px !important;} .mt70{margin-top: 70px !important;} .mb70{margin-bottom: 70px !important;}
.m80{margin: 80px !important;} .ml80{margin-left: 80px !important;} .mr80{margin-right: 80px !important;} .mt80{margin-top: 80px !important;} .mb80{margin-bottom: 80px !important;} .m90{margin: 90px !important;} .ml90{margin-left: 90px !important;} .mr90{margin-right: 90px !important;} .mt90{margin-top: 90px !important;} .mb90{margin-bottom: 90px !important;} .m100{margin: 100px !important;} .ml100{margin-left: 100px !important;} .mr100{margin-right: 100px !important;} .mt100{margin-top: 100px !important;} .mb100{margin-bottom: 100px !important;}

/** Paddings 1-10(+1), 15-50(+5), 60-100(+10) **/
.p0{padding: 0 !important;}
.p1{padding: 1px !important;} .pl1{padding-left: 1px !important;} .pr1{padding-right: 1px !important;} .pt1{padding-top: 1px !important;} .pb1{padding-bottom: 1px !important;} .p2{padding: 2px !important;} .pl2{padding-left: 2px !important;} .pr2{padding-right: 2px !important;} .pt2{padding-top: 2px !important;} .pb2{padding-bottom: 2px !important;} .p3{padding: 3px !important;} .pl3{padding-left: 3px !important;} .pr3{padding-right: 3px !important;} .pt3{padding-top: 3px !important;} .pb3{padding-bottom: 3px !important;} .p4{padding: 4px !important;} .pl4{padding-left: 4px !important;} .pr4{padding-right: 4px !important;} .pt4{padding-top: 4px !important;} .pb4{padding-bottom: 4px !important;} .p5{padding: 5px !important;} .pl5{padding-left: 5px !important;} .pr5{padding-right: 5px !important;} .pt5{padding-top: 5px !important;} .pb5{padding-bottom: 5px !important;} .p6{padding: 6px !important;} .pl6{padding-left: 6px !important;} .pr6{padding-right: 6px !important;} .pt6{padding-top: 6px !important;} .pb6{padding-bottom: 6px !important;} .p7{padding: 7px !important;} .pl7{padding-left: 7px !important;} .pr7{padding-right: 7px !important;} .pt7{padding-top: 7px !important;} .pb7{padding-bottom: 7px !important;} .p8{padding: 8px !important;} .pl8{padding-left: 8px !important;} .pr8{padding-right: 8px !important;} .pt8{padding-top: 8px !important;} .pb8{padding-bottom: 8px !important;} .p9{padding: 9px !important;} .pl9{padding-left: 9px !important;} .pr9{padding-right: 9px !important;} .pt9{padding-top: 9px !important;} .pb9{padding-bottom: 9px !important;} .p10{padding: 10px !important;} .pl10{padding-left: 10px !important;} .pr10{padding-right: 10px !important;} .pt10{padding-top: 10px !important;} .pb10{padding-bottom: 10px !important;} .p10{padding: 10px !important;} .pl12{padding-left: 12px !important;} .pr12{padding-right: 12px !important;} .pt12{padding-top: 12px !important;} .pb12{padding-bottom: 12px !important;} .p15{padding: 15px !important;} .pl15{padding-left: 15px !important;} .pr15{padding-right: 15px !important;} .pt15{padding-top: 15px !important;} .pb15{padding-bottom: 15px !important;} .p20{padding: 20px !important;} .pl20{padding-left: 20px !important;} .pr20{padding-right: 20px !important;} .pt20{padding-top: 20px !important;} .pb20{padding-bottom: 20px !important;} .p25{padding: 25px !important;} .pl25{padding-left: 25px !important;} .pr25{padding-right: 25px !important;} .pt25{padding-top: 25px !important;} .pb25{padding-bottom: 25px !important;} .p30{padding: 30px !important;} .pl30{padding-left: 30px !important;} .pr30{padding-right: 30px !important;} .pt30{padding-top: 30px !important;} .pb30{padding-bottom: 30px !important;} .p35{padding: 35px !important;} .pl35{padding-left: 35px !important;} .pr35{padding-right: 35px !important;} .pt35{padding-top: 35px !important;} .pb35{padding-bottom: 35px !important;} .p40{padding: 40px !important;} .pl40{padding-left: 40px !important;} .pr40{padding-right: 40px !important;} .pt40{padding-top: 40px !important;} .pb40{padding-bottom: 40px !important;} .p45{padding: 45px !important;} .pl45{padding-left: 45px !important;} .pr45{padding-right: 45px !important;} .pt45{padding-top: 45px !important;} .pb45{padding-bottom: 45px !important;} .p50{padding: 50px !important;} .pl50{padding-left: 50px !important;} .pr50{padding-right: 50px !important;} .pt50{padding-top: 50px !important;} .pb50{padding-bottom: 50px !important;} .p60{padding: 60px !important;} .pl60{padding-left: 60px !important;} .pr60{padding-right: 60px !important;} .pt60{padding-top: 60px !important;} .pb60{padding-bottom: 60px !important;} .p70{padding: 70px !important;} .pl70{padding-left: 70px !important;} .pr70{padding-right: 70px !important;} .pt70{padding-top: 70px !important;} .pb70{padding-bottom: 70px !important;}
.p80{padding: 80px !important;} .pl80{padding-left: 80px !important;} .pr80{padding-right: 80px !important;} .pt80{padding-top: 80px !important;} .pb80{padding-bottom: 80px !important;} .p90{padding: 90px !important;} .pl90{padding-left: 90px !important;} .pr90{padding-right: 90px !important;} .pt90{padding-top: 90px !important;} .pb90{padding-bottom: 90px !important;} .p100{padding: 100px !important;} .pl100{padding-left: 100px !important;} .pr100{padding-right: 100px !important;} .pt100{padding-top: 100px !important;} .pb100{padding-bottom: 100px !important;}

/** Widths 1-10(+1), 15-100(+5), 110-200(+10), 220-300(+20), 350-800(+50) **/
.w1{width: 1px !important;} .w2{width: 2px !important;} .w3{width: 3px !important;} .w4{width: 4px !important;} .w5{width: 5px !important;} .w6{width: 6px !important;} .w7{width: 7px !important;} .w8{width: 8px !important;} .w9{width: 9px !important;} .w10{width: 10px !important;} .w15{width: 15px !important;} .w20{width: 20px !important;} .w25{width: 25px !important;} .w30{width: 30px !important;} .w35{width: 35px !important;} .w40{width: 40px !important;} .w45{width: 45px !important;} .w50{width: 50px !important;} .w55{width: 55px !important;} .w60{width: 60px !important;}
.w65{width: 65px !important;} .w70{width: 70px !important;} .w75{width: 75px !important;} .w80{width: 80px !important;} .w85{width: 85px !important;} .w90{width: 90px !important;} .w95{width: 95px !important;} .w100{width: 100px !important;} .w110{width: 110px !important;} .w120{width: 120px !important;} .w130{width: 130px !important;} .w140{width: 140px !important;} .w150{width: 150px !important;} .w160{width: 160px !important;} .w170{width: 170px !important;} .w180{width: 180px !important;} .w190{width: 190px !important;} .w200{width: 200px !important;} .w220{width: 220px !important;} .w240{width: 240px !important;}
.w250{width: 250px !important;} .w260{width: 260px !important;} .w280{width: 280px !important;} .w300{width: 300px !important;} .w350{width: 350px !important;} .w400{width: 400px !important;} .w450{width: 450px !important;} .w500{width: 500px !important;} .w550{width: 550px !important;} .w600{width: 600px !important;} .w650{width: 650px !important;} .w700{width: 700px !important;} .w750{width: 750px !important;} .w800{width: 800px !important;}

/** Width 1% to 100% **/
.wper0{width:0% !important; overflow:hidden !important}.wper1{width:1% !important; overflow:hidden !important}.wper2{width:2% !important; overflow:hidden !important}.wper3{width:3% !important; overflow:hidden !important}.wper4{width:4% !important; overflow:hidden !important}.wper5{width:5% !important; overflow:hidden !important}.wper6{width:6% !important; overflow:hidden !important}.wper7{width:7% !important; overflow:hidden !important}.wper8{width:8% !important; overflow:hidden !important}.wper9{width:9% !important; overflow:hidden !important}.wper10{width:10% !important; overflow:hidden !important}.wper11{width:11% !important; overflow:hidden !important}.wper12{width:12% !important; overflow:hidden !important}.wper13{width:13% !important; overflow:hidden !important}.wper14{width:14% !important; overflow:hidden !important}.wper15{width:15% !important; overflow:hidden !important}.wper16{width:16% !important; overflow:hidden !important}.wper17{width:17% !important; overflow:hidden !important}.wper18{width:18% !important; overflow:hidden !important}.wper19{width:19% !important; overflow:hidden !important}.wper20{width:20% !important; overflow:hidden !important}.wper21{width:21% !important; overflow:hidden !important}.wper22{width:22% !important; overflow:hidden !important}.wper23{width:23% !important; overflow:hidden !important}.wper24{width:24% !important; overflow:hidden !important}.wper25{width:25% !important; overflow:hidden !important}.wper26{width:26% !important; overflow:hidden !important}.wper27{width:27% !important; overflow:hidden !important}.wper28{width:28% !important; overflow:hidden !important}.wper29{width:29% !important; overflow:hidden !important}.wper30{width:30% !important; overflow:hidden !important}.wper31{width:31% !important; overflow:hidden !important}.wper32{width:32% !important; overflow:hidden !important}.wper33{width:33% !important; overflow:hidden !important}.wper34{width:34% !important; overflow:hidden !important}.wper35{width:35% !important; overflow:hidden !important}.wper36{width:36% !important; overflow:hidden !important}.wper37{width:37% !important; overflow:hidden !important}.wper38{width:38% !important; overflow:hidden !important}.wper39{width:39% !important; overflow:hidden !important}.wper40{width:40% !important; overflow:hidden !important}.wper41{width:41% !important; overflow:hidden !important}.wper42{width:42% !important; overflow:hidden !important}.wper43{width:43% !important; overflow:hidden !important}.wper44{width:44% !important; overflow:hidden !important}.wper45{width:45% !important; overflow:hidden !important}.wper46{width:46% !important; overflow:hidden !important}.wper47{width:47% !important; overflow:hidden !important}.wper48{width:48% !important; overflow:hidden !important}.wper49{width:49% !important; overflow:hidden !important}.wper50{width:50% !important; overflow:hidden !important}.wper51{width:51% !important; overflow:hidden !important}.wper52{width:52% !important; overflow:hidden !important}.wper53{width:53% !important; overflow:hidden !important}.wper54{width:54% !important; overflow:hidden !important}.wper55{width:55% !important; overflow:hidden !important}.wper56{width:56% !important; overflow:hidden !important}.wper57{width:57% !important; overflow:hidden !important}.wper58{width:58% !important; overflow:hidden !important}.wper59{width:59% !important; overflow:hidden !important}.wper60{width:60% !important; overflow:hidden !important}.wper61{width:61% !important; overflow:hidden !important}.wper62{width:62% !important; overflow:hidden !important}.wper63{width:63% !important; overflow:hidden !important}.wper64{width:64% !important; overflow:hidden !important}.wper65{width:65% !important; overflow:hidden !important}.wper66{width:66% !important; overflow:hidden !important}.wper67{width:67% !important; overflow:hidden !important}.wper68{width:68% !important; overflow:hidden !important}.wper69{width:69% !important; overflow:hidden !important}.wper70{width:70% !important; overflow:hidden !important}.wper71{width:71% !important; overflow:hidden !important}.wper72{width:72% !important; overflow:hidden !important}.wper73{width:73% !important; overflow:hidden !important}.wper74{width:74% !important; overflow:hidden !important}.wper75{width:75% !important; overflow:hidden !important}.wper76{width:76% !important; overflow:hidden !important}.wper77{width:77% !important; overflow:hidden !important}.wper78{width:78% !important; overflow:hidden !important}.wper79{width:79% !important; overflow:hidden !important}.wper80{width:80% !important; overflow:hidden !important}.wper81{width:81% !important; overflow:hidden !important}.wper82{width:82% !important; overflow:hidden !important}.wper83{width:83% !important; overflow:hidden !important}.wper84{width:84% !important; overflow:hidden !important}.wper85{width:85% !important; overflow:hidden !important}.wper86{width:86% !important; overflow:hidden !important}.wper87{width:87% !important; overflow:hidden !important}.wper88{width:88% !important; overflow:hidden !important}.wper89{width:89% !important; overflow:hidden !important}.wper90{width:90% !important; overflow:hidden !important}.wper91{width:91% !important; overflow:hidden !important}.wper92{width:92% !important; overflow:hidden !important}.wper93{width:93% !important; overflow:hidden !important}.wper94{width:94% !important; overflow:hidden !important}.wper95{width:95% !important; overflow:hidden !important}.wper96{width:96% !important; overflow:hidden !important}.wper97{width:97% !important; overflow:hidden !important}.wper98{width:98% !important; overflow:hidden !important}.wper99{width:99% !important; overflow:hidden !important}.wper100{width:100% !important; overflow:hidden !important}
.w-auto{width: auto !important;}

/** Heights **/
.ht100{height: 100px;}
.ht120{height: 120px;}
.ht150{height: 150px;}
.ht160{height: 160px;}

/** D-Flex **/
.d-flex{display:-ms-flexbox!important;display:flex!important}.d-inline-flex{display:-ms-inline-flexbox!important;display:inline-flex!important}.flex-row{-ms-flex-direction:row!important;flex-direction:row!important}.flex-row-reverse{-ms-flex-direction:row-reverse!important;flex-direction:row-reverse!important}.flex-column{-ms-flex-direction:column!important;flex-direction:column!important}.flex-column-reverse{-ms-flex-direction:column-reverse!important;flex-direction:column-reverse!important}.justify-content-start{-ms-flex-pack:start!important;justify-content:flex-start!important}.justify-content-end{-ms-flex-pack:end!important;justify-content:flex-end!important}.justify-content-center{-ms-flex-pack:center!important;justify-content:center!important}.justify-content-between{-ms-flex-pack:justify!important;justify-content:space-between!important}.justify-content-around{-ms-flex-pack:distribute!important;justify-content:space-around!important}.align-items-start{-ms-flex-align:start!important;align-items:flex-start!important}.align-items-end{-ms-flex-align:end!important;align-items:flex-end!important}.align-items-center{-ms-flex-align:center!important;align-items:center!important}.align-items-baseline{-ms-flex-align:baseline!important;align-items:baseline!important}.align-items-stretch{-ms-flex-align:stretch!important;align-items:stretch!important}.align-self-start{-ms-flex-item-align:start!important;align-self:flex-start!important}.align-self-end{-ms-flex-item-align:end!important;align-self:flex-end!important}.align-self-center{-ms-flex-item-align:center!important;align-self:center!important}.align-self-stretch{-ms-flex-item-align:stretch!important;align-self:stretch!important}.flex-fill{-ms-flex:1 1 auto!important;flex:1 1 auto!important}.flex-grow-1{-ms-flex-positive:1!important;flex-grow:1!important}.flex-shrink-1{-ms-flex-negative:1!important;flex-shrink:1!important}.mr-auto,.mx-auto{margin-right:auto!important}.ml-auto,.mx-auto{margin-left:auto!important}.mb-auto,.my-auto{margin-bottom:auto!important}.mt-auto,.my-auto{margin-top:auto!important}.flex-nowrap{-ms-flex-wrap:nowrap!important;flex-wrap:nowrap!important}.flex-wrap{-ms-flex-wrap:wrap!important;flex-wrap:wrap!important}.flex-wrap-reverse{-ms-flex-wrap:wrap-reverse!important;flex-wrap:wrap-reverse!important}.order-1{-ms-flex-order:1;order:1}.order-2{-ms-flex-order:2;order:2}.order-3{-ms-flex-order:3;order:3}.align-content-start{-ms-flex-line-pack:start!important;align-content:flex-start!important}.align-content-end{-ms-flex-line-pack:end!important;align-content:flex-end!important}.align-content-center{-ms-flex-line-pack:center!important;align-content:center!important}.align-content-between{-ms-flex-line-pack:justify!important;align-content:space-between!important}.align-content-around{-ms-flex-line-pack:distribute!important;align-content:space-around!important}.align-content-stretch{-ms-flex-line-pack:stretch!important;align-content:stretch!important}.m-auto{margin: auto;}
/** \ **/

.fs8{font-size: 10px !important;}
.fs10{font-size: 10px !important;}
.fs11{font-size: 11px !important;}
.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs15{font-size: 15px !important;}
.fs16{font-size: 16px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs22{font-size: 22px !important;}
.fs24{font-size: 24px !important;}
.fs30{font-size: 30px !important;}

/** Row gap **/
.row.medgap			{margin-left:-10px; margin-right:-10px}
.row.medgap > div   {padding-left:10px; padding-right:10px}
.row.mingap			{margin-left:-5px; margin-right:-5px}
.row.mingap > div   {padding-left:5px; padding-right:5px}
.row.mingap1		{margin-left:-3px; margin-right:-3px}
.row.mingap1 > div  {padding-left:3px; padding-right:3px}
.row.mingap2		{margin-left:-2px; margin-right:-2px}
.row.mingap2 > div  {padding-left:2px; padding-right:2px}

/** Tab **/
.tabbable-custom{padding:0; overflow:hidden; margin: 0 !important;}
.tabbable-custom .nav-tabs li{margin:0; border-top:none; margin-bottom:0px;}
.tabbable-custom .nav-tabs a{color:#337ab7; border-radius:0;}
.tabbable-custom .nav-tabs a.active{border-top:3px solid#ed6b75; font-weight:600;}
.tabbable-custom .nav-tabs a.active:hover{border-top:3px solid #ed6b75; border-left:1px solid #dee2e6; border-right:1px solid #dee2e6; border-bottom:1px solid #fff;}
.tabbable-custom .nav-tabs a:hover{border-bottom:1px solid #fff;}
.tabbable-custom .nav-link{padding: 6px 10px !important}
.tabbable-custom .tab-content{padding:12px 10px; border:1px solid #ddd; margin-top:-1px;}

.tabbable-custom>.tab-content.nobdr     {border-left:none; border-right:none; border-bottom:none; padding-left:0; padding-right:0}
.tabbable-custom.tabs-sm>.nav-tabs>li>a {font-size:13px; padding: 4px 6px}
.tabbable-custom.tabs-xs>.nav-tabs>li>a {font-size:11px; padding: 3px 5px}
/** \ **/

.font-opensans, .font-opensans div, .font-opensans p, .font-opensans button{font-family: "Open Sans",sans-serif !important;}
.btn-rounded{border-radius: 10em !important;}
.bold600{font-weight: 600;}
.bold500{font-weight: 500;}
.bold400{font-weight: 400;}
.uc{text-transform: uppercase;}
.capitalized{text-transform: capitalize !important;}

.table-text-vmid th, .table-text-vmid td{
    vertical-align:middle !important;
}
.table-text-vmid.imp th, .table-text-vmid.imp td{
    vertical-align:middle !important;
}
.table-text-top th, .table-text-top td{
    vertical-align:top;
}
.table-text-top.imp th, .table-text-top.imp td{
    vertical-align:top !important;
}
.font-md, .font-md th, .font-md td{
    font-size: 14px !important;
}
.font-sm, .font-sm th, .font-sm td{
    font-size: 13px !important;
}
.font-xs, .font-xs th, .font-xs td{
    font-size: 12px !important;
}
.font-xss, .font-xss th, font-xss td{
    font-size: 11px !important;
}

.custom-panel .panel, .custom-panel .panel-heading{border-radius:0 !important; box-shadow:none!important}
.custom-panel .panel-heading{padding:8px 12px; background: #eee;}
.custom-panel .panel-body{padding:12px; font-size:unset !important;}
.bdr-info{border:1px solid #e0ebf9 !important;}
.cpointer{cursor: pointer;}
.noselect{user-select: none;}
.radius0{border-radius: 0 !important;}
.radius15{border-radius: 15px;}
.radius30{border-radius: 30px;}

.modal-less-hf-pad .modal-header{padding-top:8px !important; padding-bottom:8px !important}
.modal-less-hf-pad .modal-header h4{font-size:18px !important;}
.modal-less-hf-pad .modal-footer{padding-top:8px !important; padding-bottom:8px !important}

/** Otsuka **/
.key-insights-ht1{height: 345px; overflow: auto;}
.key-insights-ht2{height: 385px; overflow: auto;}
/** \ **/

.chip {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    margin-right: 1rem;
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    background-color: #eceff1;
    border-radius: 16px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.chip.sm{height: 24px; line-height: 24px; font-size: 12px; font-weight: 400;}

.chip.Low{border: 1px solid #8bc34a; color:#8bc34a;background:#fff;}
.chip.Medium{border: 1px solid #ffbb33; color:#ffbb33;background:#fff;}
.chip.High{border: 1px solid #ff4444; color: #ff4444;background:#fff;}
.chip.Critical{border: 1px solid #CC0000; color: #CC0000;background:#fff;}

.greybg1{background: #F4F5F7;}
.greybg2{background: #F5F5F6;}
.greybg3{background: #FAFAFB;}
.skybg1{background: #AFE3FC;}

.dim1{opacity: 0.4;}


.whitebx{background: #fff; box-shadow: 0 1px -1px rgba(0,0,0,.075)!important;}
.whitebx .heading{padding: 15px 20px; font-size: 20px; font-weight: 600;}
.whitebx .content{padding: 0 20px 15px 20px;}


@media screen {
    /** Sticky Table **/
    .sticky-tbl                                                         {max-width: 100%; overflow: auto; position: relative; border-top: 1px solid #eee; border-bottom: 1px solid #eee}
    .sticky-tbl table                                                   {position: relative; top: 0px}
    .sticky-tbl table thead th                                          {position: -webkit-sticky !important; position: sticky !important; top: 0px; z-index: 101;}
    .sticky-tbl table.fix-left thead th:first-child                     {left: 0; z-index: 102;}
    .sticky-tbl table.fix-left tbody th                                 {position: -webkit-sticky; position: sticky; left: 0; z-index: 100;}
    .sticky-tbl table.fix-tfoot tfoot th                                {position: -webkit-sticky; position: sticky; bottom: 0; z-index: 100;}
    .sticky-tbl table.fix-tfoot.fix-left tfoot th:first-child           {left: 0; z-index: 101;}

    .sticky-tbl-bx1                                                     {max-height: 480px}
    .pos-sticky-1px                                                     {position: sticky; z-index: 103; left: 0; top: 0; width: 100%; height: 1px; background:#eee}
    /** \ **/

    .nowrap                 {white-space: nowrap;}
}

.title-filter{
    position: relative;
}
.title-filter .btn-filter{
 position: absolute;
 z-index: 1000;
 right: 1.5rem;
 top: 15px;
}
.custom-border .ant-btn-default{
    border:0;background: #fff;box-shadow:none;
}
.truncate { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.nowrap                 {white-space: nowrap;}
.breakword              {word-break: break-all;}
.icon-hover:hover{color:#108ee9}

.hbar-top-tab{margin-right: 30px; font-size: 16px; color: #777; padding-bottom: 5px;}
.hbar-top-tab.active{color: #598CB7; border-bottom: 3px solid #598CB7;}
.card.pnc-active-card{border:2px solid #3F88C5 !important; color: #3F88C5;}

label{
    margin-bottom: .3rem !important;
}
.req::after {
    content: ' *'; color: #f3565d !important;
}

/** Antd Override **/
.ant-picker-dropdown, .ant-select-dropdown{
    z-index: 10500 !important;
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector, 
.ant-picker-focused, .ant-input:focus, .ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:focus{
    border-color: #40a9ff !important; box-shadow: none !important;
}
.ant-select-clear{
    top:46% !important;
}
.ant-message{
    z-index: 2010 !important;
}
.ant-message .anticon{
    top: -3px !important;
}
.ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link{
    line-height: 12px !important;
}
input[type="file"].ant-input{
    padding: 1px !important;
}
.ant-picker-input>input[disabled]{
    color: unset !important;
}

/* .ant-modal{
    transform-origin:unset !important
}
.ant-modal-header{
    padding:14px 20px !important;
}
.ant-modal-body{
    padding:14px 20px !important; overflow: auto;
}
.ant-modal-footer{
    padding:10px 20px !important;
}
.ant-modal-close-x{
    height:48px !important; line-height: 44px !important;
}
.ant-modal-close, .ant-modal-close:focus, .ant-modal-close:active{
    box-shadow: none !important; outline: none !important;
} */


.ant-card.ant-card-bordered{border-radius:4px; border: 1px solid #dee2e6;}
.ant-card.ant-card-bordered .ant-card-actions{border-top: 1px solid #dee2e6; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;}
.ant-card-small .ant-card-actions > li{margin:6px 0}